:root {
  --bg-deep: #0a0a0a;
  --bg-panel: #141414;
  --text-main: #e0e0e0;
  --text-dim: #6b7280;

  --accent-primary: #ffffff;
  --accent-error: #ff3333;
  --accent-success: #00ff41;

  /* TIPOGRAFÍA */
  --font-mono: 'Courier New', Courier, monospace;

  --border-thin: 1px solid rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(20, 20, 20, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

body {
  background-color: var(--bg-deep);
  color: var(--text-main);
  font-family: var(--font-mono);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* Utilidades Simples */
.hidden {
  display: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}